body {
  main {
    section#bookList {
      display: flex;
      flex-wrap: wrap;
      justify-content: var(--alignCenter);
      padding: var(--paddingLarge);
      gap: 30px;

      .bookCard {
        background-color: var(--white);
        border: var(--border);
        border-radius: var(--borderRadius);
        width: var(--cardWidth);
        position: relative;
        padding: var(--paddingMedium);
        display: flex;
        flex-direction: column;

        h2 {
          padding: var(--normalPadding);
          color: var(--secondaryColor);
          font-size: var(--fontSmallerMediumHeader);
        }

        h3 {
          font-size: var(--fontSmallHeader);
          padding: var(--normalPadding);
          color: var(--secondaryColor);
        }

        p {
          line-height: 1.5;
          color: var(--quaternaryColor);

          &:first-of-type {
            margin-top: var(--marginMedium);
          }

          &:last-of-type {
            margin-bottom: var(--marginSmall);
          }
        }

        button {
          background-color: var(--button-blue);
          color: var(--backgroundColor);
          padding: var(--paddingSmallerMedium) var(--paddingBiggerMedium);
          margin-top: auto;
        }
      }
    }
  }
}
