#navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--backgroundColor);
  padding: var(--paddingMedium);
  position: relative;
  z-index: 10;
  position: fixed;
  width: 100vw;
  border-bottom: 1px solid var(--secondaryColor);
  img {
    width: auto;
    height: 40px;
  }

  .burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: var(--burgerMenuWidth);
    height: var(--burgerMenuHeight);
    background: none;
    border: none;
    cursor: pointer;
    z-index: 15;
    position: relative;

    div {
      width: 100%;
      height: var(--burgerMenuDivHeight);
      background: var(--tertiaryColor);
      border-radius: var(--borderRadius);
      transition: var(--transition);
      position: relative;
    }

    &.active {
      div:nth-child(1) {
        transform: rotate(45deg);
        position: absolute;
        top: 50%;
        left: 0;
        transform-origin: center;
      }

      div:nth-child(2) {
        opacity: 0;
      }

      div:nth-child(3) {
        transform: rotate(-45deg);
        position: absolute;
        top: 50%;
        left: 0;
        transform-origin: center;
      }
    }
  }

  #navlinks {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--backgroundColor);
    flex-direction: column;
    gap: var(--marginSmall);
    padding: var(--paddingMedium);
    z-index: 10;
    border-bottom: 1px solid var(--secondaryColor);

    &.active {
      display: flex;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      flex-direction: column;
      align-items: center;
      width: 100%;
      #logNav {
        border-top: 2px solid var(--secondaryColor);
      }
    }
    li {
      width: 100%;
      text-align: center;
      margin-top: var(--marginMedium);

      a {
        text-decoration: none;
        font-size: var(--fontBody);
        font-family: var(--fontFamilyHeaders);
        font-weight: var(--fontWeightSemiBold);
        color: var(--secondaryColor);
        padding: var(--paddingSmall);
        transition: var(--transition);
        width: 100%;
        text-align: center;
      }

      button {
        background-color: var(--backgroundColor);
        font-size: var(--fontBody);
        font-weight: var(--fontWeightSemiBold);
        color: var(--tertiaryColor);
        padding: var(--paddingSmall);
        transition: var(--transition);
        width: 100%;
        border-radius: 0;
      }
    }
  }

  @media screen and (min-width: 1024px) {
    .burger-menu {
      display: none;
    }

    #navlinks {
      display: flex;
      position: static;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      background: none;
      padding: 0;
      gap: var(--smallGap);
      border-bottom: none;
      ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 0;
        margin: 0;
        list-style: none;
        gap: var(--smallGap);
      }
      li {
        width: auto;
        margin-top: 0;
        a:hover {
          border-bottom: 2px solid var(--secondaryColor);
        }

        &:nth-child(5) a,
        &:nth-child(6) a,
        &:nth-child(7) a {
          background-color: var(--tertiaryColor);
          color: var(--primaryColor);
          padding: var(--paddingSmall) var(--paddingMedium);
          text-decoration: none;
          font-family: var(--fontFamilyHeaders);
          font-weight: var(--fontWeightSemiBold);
          display: inline-block;
          text-align: center;
          border-radius: var(--borderRadius);
          width: auto;
          border-bottom: none;
        }
        &:nth-child(5) a {
          background-color: var(--secondaryColor);
          color: var(--backgroundColor);
        }
      }
    }
    .borderTop {
      padding-top: 0rem;
      border-top: none;
    }
  }
}

.hidden {
  display: none !important;
}
.borderTop {
  padding-top: var(--paddingSmall);
  border-top: 2px solid var(--secondaryColor);
}
