body {
  margin: var(--marginMedium);
  background-color: var(--backgroundColor);

  main {
    img {
      display: none;
    }

    #formSection {
      width: 100%;
      max-width: 350px;
      justify-self: center;
      align-content: center;

      h1 {
        font-family: var(--fontFamilyHeaders);
        font-weight: 700;
        font-size: var(--fontMediumHeader);
        color: var(--primaryColor);
        padding-bottom: var(--paddingXlarge);
        text-align: center;
      }

      .mini-nav {
        display: flex;
        gap: var(--paddingSmall);
        justify-content: center;
        padding-bottom: var(--paddingMedium);

        button {
          background-color: var(--tertiaryColor);
          color: var(--backgroundColor);
          font-family: var(--fontFamilyHeaders);
          font-weight: 700;
          font-size: var(--fontBody);
          border: 0;
          border-radius: var(--borderRadius);
          padding: var(--paddingSmall);
          cursor: pointer;
        }

        button.active {
          background-color: var(--secondaryColor);
        }
      }

      .form-container {
        display: none;

        &.active {
          display: block;
        }

        div {
          display: flex;
          flex-direction: column;
          padding-bottom: var(--paddingMedium);

          label {
            font-family: var(--fontFamilyBody);
            color: var(--primaryColor);
            padding-bottom: var(--paddingSmall);
            font-size: var(--fontBody);
          }

          input,
          textarea {
            border: 2px solid var(--secondaryColor);
            border-radius: var(--borderRadius);
            background-color: var(--backgroundColor);
            padding: var(--paddingSmall);
            font-family: var(--fontFamilyBody);
            color: var(--quaternaryColor);
          }
        }

        button {
          background-color: var(--tertiaryColor);
          color: var(--backgroundColor);
          font-family: var(--fontFamilyHeaders);
          font-weight: 700;
          font-size: var(--fontSmallHeader);
          border: 0;
          border-radius: var(--borderRadius);
          padding: var(--paddingSmall);
          width: 100%;
          cursor: pointer;
        }
      }
    }

    #search {
      width: 100%;
      max-width: 650px;
      justify-self: center;
      #searchHeader {
        font-family: var(--fontFamilyHeaders);
        font-weight: 700;
        font-size: var(--fontMediumHeader);
        color: var(--primaryColor);
        text-align: center;
        padding-top: var(--paddingXlarge);
        padding-bottom: var(--paddingMedium);
      }
      div {
        display: flex;
        flex-direction: column;
        padding-bottom: var(--paddingMedium);
      }
      label {
        font-family: var(--fontFamilyBody);
        color: var(--primaryColor);
        padding-bottom: var(--paddingSmall);
        font-size: var(--fontBody);
      }
      input {
        border: 2px solid var(--secondaryColor);
        border-radius: var(--borderRadius);
        background-color: var(--backgroundColor);
        padding: var(--paddingSmall);
        font-family: var(--fontFamilyBody);
        color: var(--quaternaryColor);
      }
      button {
        background-color: var(--tertiaryColor);
        color: var(--backgroundColor);
        font-family: var(--fontFamilyHeaders);
        font-weight: 700;
        font-size: var(--fontSmallHeader);
        border: 0;
        border-radius: var(--borderRadius);
        padding: var(--paddingSmall);
        width: 100%;
        cursor: pointer;
      }
      #searchResults {
        display: flex;
        flex-direction: column; /* Ensure multiple books stack vertically */
      }

      .book-info {
        gap: var(--paddingMedium); /* Space between image and text */
        padding: var(--paddingSmall);
        border: 2px solid var(--secondaryColor);
        border-radius: var(--borderRadius);
        background-color: var(--backgroundColor);
        padding-top: var(--paddingMedium);
      }

      .book-info img {
        display: none;
      }
      .book-details {
        display: flex;
        flex-direction: column; /* Stack the p tags vertically */
        gap: var(--paddingSmall); /* Space between each p tag */
      }

      .book-details p {
        font-family: var(--fontFamilyBody);
        color: var(--primaryColor);
        font-size: var(--fontBody);
        margin: 0;
      }
      ul li {
        list-style-type: none;
      }
    }
  }
}

@media (min-width: 600px) {
  body {
    margin: 0;

    main {
      grid-template-columns: 1fr 1fr;

      img {
        display: block;
        height: 100vh;
        width: 100%;
        object-fit: cover;
        justify-self: start;
      }

      #formSection {
        padding: var(--paddingMedium);
        max-width: 450px;
        .mini-nav {
          gap: var(--paddingMedium);
        }
      }
      #search {
        max-width: 650px;
        #searchResults {
          gap: var(--paddingMedium);
        }
        .book-info{
        display: grid;
        grid-template-columns: 300px 1fr; /* 300px for the image, remaining space for details */
        gap: var(--paddingMedium); /* Space between image and text */
        align-items: start; /* Align items to the top */
        padding: var(--paddingSmall);
        border: 2px solid var(--secondaryColor);
        border-radius: var(--borderRadius);
        background-color: var(--backgroundColor);
        padding-top: var(--paddingMedium);
        } .book-info img {
        width: 300px;
        height: 450px;
        object-fit: cover; /* Maintain aspect ratio */
        border-radius: var(--borderRadius);
        display: block;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  body {
    main {
      img {
        display: block;
        height: 100vh;
        width: 100%;
        object-fit: cover;
        justify-self: start;
      }
      #formSection {
        padding: var(--paddingMedium);
        h1 {
          font-size: var(--fontLargeHeader);
        }
      }
    }
  }
}
