body {
  margin: var(--marginMedium);
  background-color: var(--backgroundColor);
  main {
    img {
      display: none;
    }
    #formSection {
      width: 100%;
      max-width: 350px;
      justify-self: center;
      align-content: center;
      h1 {
        font-family: var(--fontFamilyHeaders);
        font-weight: 700;
        font-size: var(--fontMediumHeader);
        color: var(--primaryColor);
        padding-bottom: var(--paddingXlarge);
        text-align: center;
      }
      #addBookForm {
        div {
          display: flex;
          flex-direction: column;
          padding-bottom: var(--paddingMedium);
          label {
            font-family: var(--fontFamilyBody);
            color: var(--primaryColor);
            padding-bottom: var(--paddingSmall);
            font-size: var(--fontBody);
          }
          input {
            border: 2px solid var(--secondaryColor);
            border-radius: var(--borderRadius);
            background-color: var(--backgroundColor);
            padding: var(--paddingSmall);
            font-family: var(--fontFamilyBody);
            color: var(--quaternaryColor);
          }
        }
        button {
          background-color: var(--tertiaryColor);
          color: var(--backgroundColor);
          font-family: var(--fontFamilyHeaders);
          font-weight: 700;
          font-size: var(--fontSmallHeader);
          border: 0;
          border-radius: var(--borderRadius);
          padding: var(--paddingSmall);
          width: 100%;
          cursor: pointer;
        }
      }
    }
    #search {
      width: 100%;
      max-width: 650px;
      justify-self: center;
      div {
        display: flex;
        flex-direction: column;
        padding-bottom: var(--paddingMedium);
        label {
          font-family: var(--fontFamilyBody);
          color: var(--primaryColor);
          padding-bottom: var(--paddingSmall);
          font-size: var(--fontBody);
        }
        input {
          border: 2px solid var(--secondaryColor);
          border-radius: var(--borderRadius);
          background-color: var(--backgroundColor);
          padding: var(--paddingSmall);
          font-family: var(--fontFamilyBody);
          color: var(--quaternaryColor);
        }
        
      }
      button {
        background-color: var(--tertiaryColor);
        color: var(--backgroundColor);
        font-family: var(--fontFamilyHeaders);
        font-weight: 700;
        font-size: var(--fontSmallHeader);
        border: 0;
        border-radius: var(--borderRadius);
        padding: var(--paddingSmall);
        width: 100%;
        cursor: pointer;
      }
      #searchHeader {
        font-family: var(--fontFamilyHeaders);
        font-weight: 700;
        font-size: var(--fontMediumHeader);
        color: var(--primaryColor);
        text-align: center;
        padding-top: var(--paddingXlarge);
        padding-bottom: var(--paddingMedium);
      }
    }
  }
}
@media (min-width: 600px) {
  body {
    margin: 0;
    main {
      grid-template-columns: 1fr 1fr;
      img {
        display: block;
        height: 100vh;
        width: 100%;
        object-fit: cover;
        justify-self: start;
      }
      #formSection {
        padding: var(--paddingMedium);
        max-width: 450px;
      }
    }
  }
}

@media (min-width: 768px) {
  body {
    main {
      img {
        display: block;
        height: 100vh;
        width: 100%;
        object-fit: cover;
        justify-self: start;
      }
      #formSection {
        padding: var(--paddingMedium);
        h1 {
          font-size: var(--fontLargeHeader);
        }
      }
    }
  }
}
