body {
  background-color: var(--backgroundColor);

  main {
    margin-left: var(--marginMedium);
    margin-right: var(--marginMedium);
    margin-bottom: var(--marginXlarge);
    display: grid;
    grid-template-columns: 1fr;

    h1 {
      margin-top: var(--marginXlarge);
      font-size: var(--fontMediumHeader);
      color: var(--primaryColor);
      text-align: center;
    }

    h3 {
      text-align: center;
      padding-top: var(--paddingMedium);
      padding-bottom: var(--paddingMedium);
    }

    #formSection {
      margin-top: var(--marginMedium);
      width: 100%;
      max-width: 350px;
      justify-self: center;
      align-content: center;
      padding: var(--paddingMedium);

      h2 {
        padding-bottom: var(--paddingXlarge);
        text-align: center;
      }

      .mini-nav {
        display: flex;
        gap: var(--paddingSmall);
        justify-content: center;
        padding-bottom: var(--paddingMedium);

        button {
          background-color: var(--tertiaryColor);
          color: var(--primaryColor);
        }

        button.active {
          background-color: var(--secondaryColor);
          color: var(--backgroundColor);
        }
      }

      .form-container {
        display: none;

        &.active {
          display: block;
        }

        div {
          display: flex;
          flex-direction: column;
          padding-bottom: var(--paddingMedium);

          label {
            font-family: var(--fontFamilyBody);
            color: var(--primaryColor);
            padding-bottom: var(--paddingSmall);
            font-size: var(--fontBody);
          }

          input {
            border: 2px solid var(--secondaryColor);
            border-radius: var(--borderRadius);
            background-color: var(--backgroundColor);
            padding: var(--paddingSmall);
            font-family: var(--fontFamilyBody);
            color: var(--primaryColor);
          }
        }

        button {
          background-color: var(--tertiaryColor);
          color: var(--primaryColor);
          width: 100%;
          margin-bottom: var(--marginSmall);
        }

        .nextButton {
          background-color: var(--secondaryColor);
          color: var(--backgroundColor);
          font-family: var(--fontFamilyHeaders);
          font-weight: var(--fontWeightBold);
          border: 0;
          border-radius: var(--borderRadius);
          padding: var(--paddingSmall);
          width: 100%;
          cursor: pointer;
          text-decoration: none;
          display: block;
          text-align: center;
        }
      }
    }

    #search {
      margin-top: var(--marginLarge);
      width: 100%;
      justify-self: center;

      div {
        display: flex;
        flex-direction: column;
        padding-bottom: var(--paddingMedium);
      }

      label {
        font-family: var(--fontFamilyBody);
        color: var(--primaryColor);
        padding-bottom: var(--paddingSmall);
        font-size: var(--fontBody);
      }

      input {
        border: 2px solid var(--secondaryColor);
        background-color: var(--backgroundColor);
        color: var(--primaryColor);
      }

      button {
        background-color: var(--tertiaryColor);
        color: var(--primaryColor);
        width: 100%;
      }

      .book-info {
        gap: var(--paddingMedium); /* Space between image and text */
        padding: var(--paddingMedium);
        border: 2px solid var(--secondaryColor);
        border-radius: var(--borderRadius);
        margin-top: var(--marginMedium);
        display: flex;
        flex-direction: column-reverse;
      }

      .book-info img {
        width: 50%;
        max-height: 100%;
        object-fit: cover; /* Maintain aspect ratio */
        border-radius: var(--borderRadius);
        display: block;
        align-self: center;
      }

      .book-details {
        display: flex;
        flex-direction: column; /* Stack the p tags vertically */
        gap: var(--paddingSmall); /* Space between each p tag */
      }

      .book-details p {
        margin: 0;
      }

      ul li {
        list-style-type: none;
      }
    }
  }
}

@media (min-width: 600px) {
  body {
    margin: 0;
    .container {
      .text_overlay {
        top: 85%;
        left: 5%;
      }
    }
    main {
      #formSection {
        max-width: 450px;

        .mini-nav {
          gap: var(--paddingMedium);
        }
      }

      #search {
        #searchResults {
          gap: var(--paddingMedium);
        }

        .book-info img {
          width: 70%;
          max-height: 50%;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  body {
    .container {
      .text_overlay {
        top: 80%;
      }
    }

    main {
      h1 {
        font-size: var(--fontLargeHeader);
      }

      h3 {
        font-size: var(--fontMediumHeader);
      }

      #formSection {
        max-width: 700px;
      }

      #search {
        margin-top: var(--marginXlarge);

        .book-info {
          margin-top: var(--marginLarge);
          flex-direction: row;
        }

        .book-info img {
          width: 100%;
          max-height: 100%;
          align-self: left;
        }
      }
    }
  }
}
