body {
  .space {
    margin-bottom: 5rem;
    margin-top: 5rem;
  }
  #header {
    position: relative;
    picture {
      position: relative;
      top: 0;
    }
    #titles {
      position: absolute;
      top: 70%;
      h1 {
        top: 65%;
        margin-left: auto;
        margin-right: auto;
        /* padding: var(--paddingSmall); */
        color: var(--secondaryColor);
        font-weight: var(--fontWeightBold);
        font-family: var(--fontFamilyHeaders);
        font-size: var(--fontLargeHeader);
        width: 80%;
        /* position: absolute; */
        margin-left: auto;
        margin-right: auto;
        /* left: 0;
      right: 0; */
        text-align: center;
      }
      h2 {
        top: 78%;
        margin-left: auto;
        margin-right: auto;
        color: var(--backgroundColor);
        /* font-weight: var(--fontWeightBold); */
        font-family: var(--fontFamilyHeaders);
        font-size: var(--fontSmallerMediumHeader);
        width: 80%;
        /* position: absolute; */
        margin-left: auto;
        margin-right: auto;
        /* left: 0;
      right: 0; */
        text-align: center;
      }
    }
  }

  #search {
    width: 90%;
    max-width: 650px;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
    form {
      display: flex;
      flex-direction: column;
      padding-bottom: var(--paddingMedium);
      position: relative;
      label {
        font-family: var(--fontFamilyBody);
        color: var(--primaryColor);
        padding-bottom: var(--paddingSmall);
        font-size: var(--fontBody);
      }
      input {
        border: 2px solid var(--secondaryColor);
        border-radius: var(--borderRadius);
        background-color: var(--backgroundColor);
        padding: var(--paddingSmall);
        font-family: var(--fontFamilyBody);
        color: var(--quaternaryColor);
      }
      button {
        position: absolute;
        width: 15%;
        height: 75%;
        top: -3%;
        right: 0;
        background-color: var(--tertiaryColor);
        color: var(--backgroundColor);
        font-family: var(--fontFamilyHeaders);
        font-weight: 700;
        font-size: var(--fontSmallHeader);
        border: 0;
        border-radius: var(--borderRadius);
        padding: var(--paddingSmall);
        cursor: pointer;
      }
    }
    #searchHeader {
      font-family: var(--fontFamilyHeaders);
      font-weight: 700;
      font-size: var(--fontMediumHeader);
      color: transparent;
      text-align: center;
      padding-top: var(--paddingXlarge);
      padding-bottom: var(--paddingMedium);
    }
  }
}

@media (min-width: 410px) {
  body {
    #header {
      position: relative;
      picture {
        position: relative;
        top: 0;
      }
      #titles {
        top: 50%;
        @media (min-width: 550px) {
          top: 60%;
        }
        h1 {
          /* top: 40%; */
          margin-left: var(--marginMedium);
          /* padding: var(--paddingSmall) var(--paddingMedium); */
          color: var(--secondaryColor);
          font-weight: var(--fontWeightBold);
          font-family: var(--fontFamilyHeaders);
          font-size: var(--fontLargeHeader);
          text-align: start;
          width: fit-content;
        }
        h2 {
          /* top: 70%; */
          margin-left: var(--marginMedium);
          color: var(--backgroundColor);
          /* font-weight: var(--fontWeightBold); */
          font-family: var(--fontFamilyHeaders);
          font-size: var(--fontSmallerMediumHeader);
          width: 80%;
          text-align: start;
        }
      }
    }
  }
}

@media (min-width: 800px) {
  body {
    #header {
      #titles {
        top: 65%;
        h1 {
          /* top: 60%; */
          margin-left: var(--marginLarge);
        }
        h2 {
          /* top: 80%; */
          width: 60%;
          margin-left: var(--marginLarge);
        }
        @media (min-width: 1040px) {
          top: 75%;
          /* background-color: hotpink; */
          margin-left: var(--marginMedium);
        }
        #search {
          width: 100%;
          max-width: 95%;
          justify-self: center;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}
