body {
  background-color: var(--backgroundColor);
  .space {
    margin-bottom: 5rem;
    margin-top: 5rem;
  }

  header {
    .container {
      position: relative;
      .backgroundImage {
        height: var(--imgHeight);
        width: 100%;
        object-fit: cover;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
      }

      .image_overlay {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
      }

      .text_overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;

        h1 {
          color: var(--tertiaryColor);
          margin-left: auto;
          margin-right: auto;
          text-align: center;
        }
      }
    }
  }

  #search {
    width: 90%;
    max-width: var(--width4);
    justify-self: center;
    margin-left: auto;
    margin-right: auto;

    form {
      display: flex;
      flex-direction: column;
      padding-bottom: var(--paddingMedium);
      position: relative;

      label {
        font-family: var(--fontFamilyBody);
        color: var(--primaryColor);
        padding-bottom: var(--paddingSmall);
        font-size: var(--fontBody);
      }

      input {
        border: 2px solid var(--secondaryColor);
        border-radius: var(--borderRadius);
        background-color: var(--backgroundColor);
        padding: var(--paddingSmall);
        font-family: var(--fontFamilyBody);
        color: var(--primaryColor);
      }

      button {
        position: absolute;
        width: 21%;
        height: 33%;
        top: 51%;
        right: 0;
        display: grid;
        place-content: center;
      }
    }

    #searchHeader {
      font-family: var(--fontFamilyHeaders);
      font-weight: var(--fontWeightBold);
      font-size: var(--fontMediumHeader);
      color: transparent;
      text-align: center;
      padding-bottom: var(--paddingMedium);
    }
  }

  #search_by_author {
    margin: var(--marginMedium);
    margin-bottom: var(--marginXlarge);
    header h2 {
      text-align: center;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      gap: var(--smallGap);
      place-content: center;
      margin: var(--marginLarge) 0;

      li {
        list-style: none;
      }
    }

    #authorSection {
      #authorList {
        margin-top: var(--marginMedium);

        button {
          background-color: var(--primaryColor);
          font-weight: var(--fontWeightRegular);
        }
      }
    }

    #bookSection {
      #bookListByAuthor {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        margin: var(--marginMedium);

        li {
          font-family: var(--fontFamilyBody);
          font-weight: var(--fontWeightRegular);
          font-size: var(--fontBody);
          list-style: disc;
          text-align: left;
        }
      }
    }
  }
}

@media (min-width: 800px) {
  body {
    #search_by_author {
      margin: var(--marginXlarge);

      #authorSection {
        #authorList {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          margin-top: var(--marginLarge);
          gap: var(--mediumGap);
        }
      }

      #bookSection {
        #bookList {
          margin-top: var(--marginLarge);
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  body {
    #search_by_author {
      #authorList {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }
  }
}
