body {
  background-color: var(--backgroundColor);
  .space {
    margin-bottom: 5rem;
    margin-top: 5rem;
  }
  #header {
    position: relative;
    picture {
      position: relative;
      top: 0;
    }
    #titles {
      position: absolute;
      top: 70%;
      h1 {
        top: 65%;
        font-size: var(--fontLargeHeader);
        color: var(--tertiaryColor);
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }
      h2 {
        top: 78%;
        margin-left: auto;
        margin-right: auto;
        color: var(--backgroundColor);
        font-size: var(--fontSmallerMediumHeader);
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }
    }
  }

  #search {
    width: 90%;
    max-width: 650px;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
    form {
      display: flex;
      flex-direction: column;
      padding-bottom: var(--paddingMedium);
      position: relative;
      label {
        font-family: var(--fontFamilyBody);
        color: var(--primaryColor);
        padding-bottom: var(--paddingSmall);
        font-size: var(--fontBody);
      }
      input {
        border: 2px solid var(--secondaryColor);
        border-radius: var(--borderRadius);
        background-color: var(--backgroundColor);
        padding: var(--paddingSmall);
        font-family: var(--fontFamilyBody);
        color: var(--primaryColor);
      }
      input::placeholder {
        color: var(--quaternaryColor);
      }
      button {
        position: absolute;
        width: 30%;
        height: 75%;
        top: -3%;
        right: 0;
        /* background-color: var(--tertiaryColor); */
        color: var(--backgroundColor);
        padding: var(--paddingSmall);
      }
    }
    #searchHeader {
      font-family: var(--fontFamilyHeaders);
      font-weight: 700;
      font-size: var(--fontMediumHeader);
      color: transparent;
      text-align: center;
      padding-top: var(--paddingXlarge);
      padding-bottom: var(--paddingMedium);
    }
  }
  #search_by_author {
    margin: var(--marginMedium);
    margin-bottom: var(--marginXlarge);
    header h2 {
      text-align: center;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      gap: var(--smallGap);
      place-content: center;
      margin: var(--marginLarge) 0;
      li {
        list-style: none;
        button {
          background-color: var(--tertiaryColor);
          color: var(--backgroundColor);
          padding: var(--paddingSmall);
        }
      }
    }
    #authorSection {
      #authorList {
        margin-top: var(--marginMedium);
        button {
          background-color: var(--primaryColor);
          font-weight: 400;
        }
      }
    }

    #bookSection {
      #bookListByAuthor {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        margin: var(--marginMedium);
        li {
          font-family: var(--fontFamilyBody);
          font-weight: var(--fontWeightRegular);
          font-size: var(--fontBody);
          list-style: disc;
          text-align: left;
        }
      }
    }
  }
}

@media (min-width: 410px) {
  body {
    #header {
      position: relative;
      picture {
        position: relative;
        top: 0;
      }
      #titles {
        top: 50%;
        @media (min-width: 550px) {
          top: 60%;
        }
        h1 {
          margin-left: var(--marginMedium);
          /* padding: var(--paddingSmall) var(--paddingMedium); */
          /* color: var(--secondaryColor); */
          font-weight: var(--fontWeightBold);
          font-family: var(--fontFamilyHeaders);
          font-size: var(--fontLargeHeader);
          text-align: start;
          width: fit-content;
        }
        h2 {
          margin-left: var(--marginMedium);
          color: var(--backgroundColor);
          font-family: var(--fontFamilyHeaders);
          font-size: var(--fontSmallerMediumHeader);
          width: 80%;
          text-align: start;
        }
      }
    }
  }
}

@media (min-width: 800px) {
  body {
    #header {
      #titles {
        top: 65%;
        h1 {
          /* top: 60%; */
          margin-left: var(--marginLarge);
        }
        h2 {
          /* top: 80%; */
          width: 60%;
          margin-left: var(--marginLarge);
        }
        @media (min-width: 1040px) {
          top: 75%;
          /* background-color: hotpink; */
          margin-left: var(--marginMedium);
        }
        #search {
          width: 100%;
          max-width: 95%;
          justify-self: center;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
    #search_by_author {
      margin: var(--marginXlarge);
      #authorSection {
        #authorList {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          margin-top: var(--marginLarge);
          gap: var(--mediumGap);
        }
      }
      #bookSection {
        #bookList {
          margin-top: var(--marginLarge);
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  body {
    #search_by_author {
      #authorList {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }
  }
}
