body {
  background-color: var(--primaryColor);

  main {
    margin-left: var(--marginMedium);
    margin-right: var(--marginMedium);
    margin-bottom: var(--marginXlarge);
    display: grid;
    grid-template-columns: 1fr;

    img {
      display: none;
    }

    #formSection {
      width: 100%;
      max-width: var(--width);
      justify-self: center;
      align-content: center;

      h1 {
        font-size: var(--fontMediumHeader);
        color: var(--backgroundColor);
        padding-bottom: var(--paddingXlarge);
        margin-top: var(--marginXlarge);
        text-align: center;
      }

      #formLogin {
        div {
          display: flex;
          flex-direction: column;
          padding-bottom: var(--paddingMedium);

          label {
            font-family: var(--fontFamilyBody);
            color: var(--backgroundColor);
            padding-bottom: var(--paddingSmall);
          }

          input {
            border: 2px solid var(--tertiaryColor);
            background-color: var(--primaryColor);
            color: var(--backgroundColor);
          }
        }

        button {
          background-color: var(--tertiaryColor);
          color: var(--primaryColor);
          width: 100%;
        }
      }
    }
  }
}
@media (min-width: 600px) {
  body {
    main {
      margin-left: 0rem;
      margin-right: 0rem;
      margin-bottom: var(--marginXlarge);
      grid-template-columns: 1fr 1fr;

      img {
        display: block;
        max-height: var(--width5);
        width: 100%;
        object-fit: cover;
        justify-self: start;
      }

      #formSection {
        padding: var(--paddingMedium);
        max-width: var(--width2);

        h1 {
          margin-top: var(--marginLarge);
        }
      }
    }
  }
}

@media (min-width: 768px) {
  body {
    main {
      #formSection {
        h1 {
          font-size: var(--fontLargeHeader);
        }
      }
    }
  }
}
