body {
    font-family: Arial, sans-serif;
    margin: var(--marginMedium);
}
section {
    display: flex;
    gap: var(--mediumGap);
}
.column {
    flex: 1;
}
.column h2 {
    text-align: center;
    border-bottom: var(--border-bottom);
    margin-bottom: var(--marginSmall);
    padding-bottom: var(--paddingSmall);
}
.item {
    margin: var(--marginSmall) 0;
}