body {
    background-color: var(--backgroundColor);
    main {
        margin: var(--marginLarge) var(--marginMedium);
        .backArrow {
            display: flex;
            padding-top: var(--marginXlarge);
            cursor: pointer;
            align-items: center;
            text-decoration: none;
            gap: var(--mediumGap);
            color: var(--secondaryColor);
        }
        h1 {
            /* font-family: var(--fontFamilyHeaders);
            font-weight: 700;
            font-size: var(--fontMediumHeader); */
            color: var(--primaryColor);
            padding-bottom: var(--paddingLarge);
            text-align: center;
        }
        section {
            display: flex;
            flex-direction: column;
            margin-left: var(--marginLarge);
            margin-right: var(--marginLarge);
            .column {
                flex: 1;
                margin-top: var(--marginMedium);
                margin-bottom: var(--marginXlarge);
                h2 {
                    text-align: center;
                    border-bottom: var(--border-bottom);
                    margin-bottom: var(--marginSmall);
                    padding-bottom: var(--paddingSmall);
                }
                .item {
                    margin: var(--marginSmall) 0;
                    font-family: var(--fontFamilyBody);
                }
            }
        }
    }
}
@media (min-width: 600px) {
    body {
        main {
            section {
                display: flex;
                flex-direction: row;
                gap: var(--mediumGap);
                .column {
                    flex: 1;
                    h2 {
                        text-align: center;
                        border-bottom: var(--border-bottom);
                        margin-bottom: var(--marginSmall);
                        padding-bottom: var(--paddingSmall);
                    }
                }
                .item {
                    margin: var(--marginSmall) 0;
                }
            }
        }
    }
}

@media (min-width: 768px){
    body {
        main {
            margin: var(--marginLarge) var(--marginLarge);
            h1 {
                font-size: var(--fontLargeHeader);
            }
            section {
                gap: var(--largeGap);
            }
        }
    }
}

@media (min-width: 1024px) {
    body {
        main {
            margin: var(--marginLarge) var(--marginXlarge);
        }
    }
}
