@import "_variables.css";
@import "__navigation.css";
@import "__footer.css";
@import "___books.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 3px solid var(--focusOutline);
}

body {
  .skip-link {
    position: absolute;
    top: var(--negativeGap);
    left: 0;
    background: var(--secondaryColor);
    color: var(--backgroundColor);
    padding: var(--paddingSmall);
    text-decoration: none;
    z-index: 100;
    transition: top 0.3s;

    &:focus {
      top: var(--smallGap);
    }
  }

  img {
    width: 100%;
    max-height: 550px;
    object-fit: cover;
  }

  h1 {
    font-family: var(--fontFamilyHeaders);
    font-weight: var(--fontWeightBold);
    font-size: var(--fontLargeHeader);
    color: var(--tertiaryColor);
  }

  h2 {
    font-family: var(--fontFamilyHeaders);
    font-weight: var(--fontWeightSemiBold);
    font-size: var(--fontMediumHeader);
    color: var(--primaryColor);
  }

  h3 {
    font-family: var(--fontFamilyHeaders);
    font-weight: var(--fontWeightSemiBold);
    font-size: var(--fontSmallerMediumHeader);
  }

  h4 {
    font-family: var(--fontFamilyHeaders);
    font-weight: var(--fontWeightSemiBold);
    font-size: var(--fontSmallHeader);
  }

  p {
    font-family: var(--fontFamilyBody);
    font-size: var(--fontBody);
    font-weight: var(--fontWeightRegular);
  }

  li {
    font-size: var(--fontBody);
    font-family: var(--fontFamilyBody);
    font-weight: var(--fontWeightRegular);
  }

  a {
    font-family: var(--fontFamilyBody);
    font-size: var(--fontBody);
    font-weight: var(--fontWeightRegular);
  }

  button {
    font-family: var(--fontFamilyHeaders);
    font-size: var(--fontBody);
    font-weight: var(--fontWeightBold);
    text-align: var(--alignCenter);
    cursor: pointer;
    border: 0;
    border-radius: var(--borderRadius);
    background-color: var(--secondaryColor);
    color: var(--backgroundColor);
    padding: var(--paddingSmall);
  }

  input {
    border-radius: var(--borderRadius);
    padding: var(--paddingSmall);
    font-family: var(--fontFamilyBody);
  }
}
@media (min-width: 600px) {
  body {
    h1 {
      font-size: var(--fontXlargeHeader);
    }
    h2 {
      font-size: var(--fontMediumHeader);
    }
  }
}
