<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../assets/img/ebook.svg">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/_ebooks.css">
    <script src="../js/ebooks.js" type="module" defer></script>
    <script src="js/scripts.js" type="module" defer></script>
    <script src="../js/search_by_author.js" defer></script>
    <title>E-books</title>
</head>

<body>
    <!-- <header>
        <nav>
            <img src="assets/img/logo.svg" alt="E-Borrows logo" />
            <button id="signupButton">Sign Up</button>
            <button id="loginButton">Login</button>
        </nav>
    </header> -->
    <main>
        <div id="header">
            <picture>
                <source srcset="../assets/img/mobile_ebook.jpg" media="(max-width: 410px)">
                <source srcset="../assets/img/tablet_ebook.jpg" media="(max-width: 768px)">
                <source srcset="../assets/img/desktop_ebook.jpg" media="(min-width: 768px)">
                <img src="image-desktop.jpg" alt="Description">
            </picture>
            <header id="titles">
                <h1>E-BOOKS</h1>
                <h2>Browse through our selection of E-books here</h2>
            </header>
        </div>
        <section id="search">
            <!-- <h2 id="searchHeader">Search for books!</h2> -->
            <label id="searchHeader" for="searchInput">Search for books!</label>
            <form id="searchForm">
                <!-- <label for="searchBook">Search for a book</label> -->
                <input type="text" id="searchInput" name="search" placeholder="Search for a book" />
                <button type="submit">Search</button>
            </form>
            <div id="searchResults"></div>
        </section>
        <section id="bookList">
        </section>
        <section id="search_by_author">
            <h2>Search book by author</h2>
            <ul id="ul">
                <li><button id="a-button" data-letter="A">A</button></li>
                <li><button data-letter="B">B</button></li>
                <li><button data-letter="C">C</button></li>
                <li><button data-letter="D">D</button></li>
                <li><button data-letter="E">E</button></li>
                <li><button data-letter="F">F</button></li>
                <li><button data-letter="G">G</button></li>
                <li><button data-letter="H">H</button></li>
                <li><button data-letter="I">I</button></li>
                <li><button data-letter="J">J</button></li>
                <li><button data-letter="K">K</button></li>
                <li><button data-letter="L">L</button></li>
                <li><button data-letter="M">M</button></li>
                <li><button data-letter="N">N</button></li>
                <li><button data-letter="O">O</button></li>
                <li><button data-letter="P">P</button></li>
                <li><button data-letter="Q">Q</button></li>
                <li><button data-letter="R">R</button></li>
                <li><button data-letter="S">S</button></li>
                <li><button data-letter="T">T</button></li>
                <li><button data-letter="U">U</button></li>
                <li><button data-letter="V">V</button></li>
                <li><button data-letter="W">W</button></li>
                <li><button data-letter="X">X</button></li>
                <li><button data-letter="Y">Y</button></li>
                <li><button data-letter="Z">Z</button></li>
                <li><button data-letter="Æ">Æ</button></li>
                <li><button data-letter="Ø">Ø</button></li>
                <li><button data-letter="Å">Å</button></li>
            </ul>

            <h2>Authors</h2>
            <ul id="authorList"></ul>

            <h2>Books</h2>
            <ul id="bookListByAuthor"></ul>
        </section>
    </main>
    <footer></footer>
</body>

</html>