<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>

  <body>
    <header>
      <nav>
        <img src="../assets/img/logo.svg" alt="E-borrow logo" />
        <button id="loginButton">Login</button>
      </nav>
    </header>
    
    <main>
        <header>
            <h1 id="loginHeader">Login Here!</h1>
        </header>
        <section id="loginForm">
          <img
            src="../assets/img/image_2.png"
            alt="Decorating image for the login page"
            id="loginPageImage"
          />
        <form>
          <label for="loginEmail">E-mail</label>
          <input
            type="email"
            id="loginEmail"
            name="email"
            placeholder="example@email.com"
            required
          />
          <label for="loginPassword">Password</label>
          <input
            type="password"
            id="loginPassword"
            name="password"
            placeholder="Password"
            required
          />
          <button type="submit">Login</button>
        </form>
      </section>
    </main>

    <footer></footer>
  </body>
</html>
