<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Look up IDs | E-borrows</title>
    <link rel="icon" type="image/x-icon" href="../assets/img/ebook.svg">
    <link rel="stylesheet" href="../css/_lookup.css">
    <link rel="stylesheet" href="../css/styles.css">
    <script src="../js/lookup.js" type="module"></script>
    <script src="../js/scripts.js" defer></script>
</head>

<body>
    <main id="main-content">
        <header>
            <h1>Look up IDs</h1>
        </header>
        <section>
            <article class="column" id="books">
                <h2>Books</h2>
            </article>
            <article class="column" id="authors">
                <h2>Authors</h2>
            </article>
            <article class="column" id="publishers">
                <h2>Publishers</h2>
            </article>
        </section>
    </main>
</body>

</html>