<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Look up IDs</title>
    <link rel="icon" type="image/x-icon" href="../assets/img/ebook.svg">
    <link rel="stylesheet" href="../css/_lookup.css">
    <link rel="stylesheet" href="../css/styles.css">
    <script src="../js/lookup.js"></script>
    <script src="../js/scripts.js" type="module"></script>
</head>
<body>
    <main id="main-content">
        <header>
            <h1>Look up IDs</h1>
        </header>
        <section>
            <div class="column" id="books">
                <h2>Books</h2>
            </div>
            <div class="column" id="authors">
                <h2>Authors</h2>
            </div>
            <div class="column" id="publishers">
                <h2>Publishers</h2>
            </div>
        </section>
    </main>
</body>
</html>
