<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit profile</title>
    <link rel="icon" type="image/x-icon" href="../assets/img/ebook.svg">
    <link rel="stylesheet" href="../css/_profile.css">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <!-- <header>
        <nav>
            <img src="../assets/img/logo.svg" alt="E-borrow logo" >
            <button id="loginButton">Login</button>
        </nav>
    </header> -->
    <main>
        <section id="formSection">
            <header>
                <h1 id="profileHeader">Edit your profile</h1>
            </header>
            <form id="formProfile">
                <div>
                    <label for="profileName">Name</label>
                    <input id="profileName" name="name" type="text" placeholder="Jens">
                </div>
                <div>
                    <label for="profileLastName">Last Name</label>
                    <input id="profileLastName" name="lastName" type="text" placeholder="Jensen">
                </div>
                <div>
                    <label for="profileEmail">E-mail</label>
                    <input id="profileEmail" name="email" type="email" placeholder="email@email.com">
                </div>
                <div>
                    <label for="profileAdress">Adress</label>
                    <input id="profileAdress" name="adress" type="text" placeholder="Jensens vej 43">
                </div>
                <div>
                    <label for="profileTel">Phone number</label>
                    <input id="profileTel" name="phoneNumber" type="tel" placeholder="40404040">
                </div>
                <div>
                    <label for="profileDob">Date of birth</label>
                    <input id="profileDob" name="dob" type="date" placeholder="Date of birth">
                </div>
                <button id="updateButton" type="submit">Update your profile</button>
                <button id="deleteButton" type="button">Delete your profile</button>
            </form>
        </section>
    </main>
    <footer></footer>
</body>
</html>