<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit profile</title>
    <script src="../js/deleteUser.js" defer></script>
    <link rel="icon" type="image/x-icon" href="../assets/img/ebook.svg">
    <link rel="stylesheet" href="../css/_profile.css">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <!-- <header>
        <nav>
            <img src="../assets/img/logo.svg" alt="E-borrow logo" >
            <button id="loginButton">Login</button>
        </nav>
    </header> -->
    <main>
        <section id="formSection">
            <header>
                <h1 id="profileHeader">Edit your profile</h1>
            </header>
            <form id="formProfile">
                <div>
                    <label for="profileName">Name</label>
                    <input id="profileName" name="name" type="text" placeholder="Jens">
                </div>
                <div>
                    <label for="profileLastName">Last Name</label>
                    <input id="profileLastName" name="lastName" type="text" placeholder="Jensen">
                </div>
                <div>
                    <label for="profileEmail">E-mail</label>
                    <input id="profileEmail" name="email" type="email" placeholder="email@email.com">
                </div>
                <div>
                    <label for="profileAdress">Adress</label>
                    <input id="profileAdress" name="adress" type="text" placeholder="Jensens vej 43">
                </div>
                <div>
                    <label for="profileTel">Phone number</label>
                    <input id="profileTel" name="phoneNumber" type="tel" placeholder="40404040">
                </div>
                <div>
                    <label for="profileDob">Date of birth</label>
                    <input id="profileDob" name="dob" type="date" placeholder="Date of birth">
                </div>
                <button id="updateButton" type="submit">Update your profile</button>
                <button id="deleteButton" type="button">Delete your profile</button>
            </form>
        </section>
    </main>
    <footer>

        <section class="socials">
            <img src="../assets/img/logo.svg" alt="E-Borrows logo"/>
            <div>
                <img src="../assets/img/instagram.svg" alt="instagram">
                <img src="../assets/img/facebook.svg" alt="facebook">
                <img src="../assets/img/linkedin.svg" alt="linkedin">
            </div>
        </section>

        <section class="contact">
            <header>
                <h5>Contact</h5>
            </header>
            <a href="mailto:eborrow@mail.com">eborrow@mail.com</a>
            <a href="tel:+4530303030">+4530303030</a>
            <p>Jensens Vej 43, København K</p>
        </section>

        <section class="content">
            <header>
                <h5>Content</h5>
            </header>
            <p>Texts generated by <a href="https://chatgpt.com/" title="ChatGPT" target="_blank">ChatGPT</a></p>
            <p>Images generated by <a href="https://figma.com/" title="Figma" target="_blank">Figma</a></p>
            <p>Books loaded from <a href="https://github.com/arturomorarioja/py_library_api_v2.git" title="Py library v2" target="_blank">Py library v2</a></p>
        </section>

        <p class="copyright">&copy; 2024 - This is a school project</p>

    </footer>
</body>
</html>