<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/_signup.css">
    <link rel="stylesheet" href="../css/styles.css">
    <script src="js/signup.js" type="module"></script>
    <title>Signup</title>
  </head>
  <body>
    <header>
      <!--
      <nav>
        <img src="../assets/img/logo.svg" alt="E-borrow logo" />
        <button id="signupButton">Signup</button>
      </nav>
      -->
    </header>

    <main>
      <img
        src="../assets/img/image_2.png"
        alt="Decorating image for the signup page"
        id="signupPageImage"
      >
      <section id="formSection">
        <header>
          <h1 id="signupHeader">Signup here!</h1>
        </header>
        <form id="formSignup">
          <div>
          <label for="signupName">Name</label>
          <input
            type="text"
            id="signupName"
            name="name"
            placeholder="Name"
            required
          >
        </div>
        <div>
          <label for="signupLastName">Last Name</label>
          <input
            type="text"
            id="signupLastName"
            name="lastname"
            placeholder="Last Name"
            required
          >
        </div>
        <div>
          <label for="signupEmail">E-mail</label>
          <input
            type="email"
            id="signupEmail"
            name="email"
            placeholder="Email@email.com"
            required
          >
        </div>
        <div>
          <label for="signupPassword">Password</label>
          <input
            type="password"
            id="signupPassword"
            name="password"
            placeholder="Password"
            required
          >
        </div>
        <div>
          <label for="signupRepeatPassword">Repeat Password</label>
          <input
            type="password"
            id="signupRepeatPassword"
            name="repeatPassword"
            placeholder="Repeat Password"
            required
          >
        </div>
          <button type="submit">Signup</button>
        </form>
      </section>
    </main>

    <footer></footer>
  </body>
</html>
