<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="../assets/img/ebook.svg">
  <link rel="stylesheet" href="../css/_signup.css">
  <link rel="stylesheet" href="../css/styles.css">
  <script src="../js/signup.js" type="module"></script>
  <script src="../js/scripts.js" type="module"></script>
  <title>Signup</title>
</head>

<body>
  <header>
    <nav id="navigation">
        <img src="../assets/img/logo.svg" alt="E-Borrows logo" />

        <button class="burger-menu" aria-label="Toggle navigation">
            <div></div>
            <div></div>
            <div></div>
        </button>
        <div id="navlinks">
            <ul>
                <li><a href="/index.html">Home</a></li>
                <li><a href="/templates/ebooks.html">E-books</a></li>
                <li><a id="settings" class="hidden" href="../templates/profile.html">Settings</a></li>
                <li><a id="signup" class="hidden" href="../templates/signup.html">Signup</a></li>
                <li><a id="login" class="hidden" href="../templates/login.html">Login</a></li>
                <li><button id="logout" class="hidden">Logout</button></li>
            </ul>
        </div>
    </nav>
  </header>

  <main>
    <img src="../assets/img/image_2.png" alt="Decorating image for the signup page" id="signupPageImage">
    <section id="formSection">
      <header>
        <h1 id="signupHeader">Signup here!</h1>
      </header>
      <form id="formSignup">
        <div>
          <label for="signupName">Name</label>
          <input type="text" id="signupName" name="name" placeholder="Jens" required>
        </div>
        <div>
          <label for="signupLastName">Last Name</label>
          <input type="text" id="signupLastName" name="lastname" placeholder="Jensen" required>
        </div>
        <div>
          <label for="signupEmail">E-mail</label>
          <input type="email" id="signupEmail" name="email" placeholder="email@email.com" required>
        </div>
        <div>
          <label for="signupAdress">Adress</label>
          <input id="signupAdress" type="text" name="adress" placeholder="Jensens vej 43" required>
        </div>
        <div>
          <label for="signupTel">Phone number</label>
          <input id="signupTel" type="tel" name="phone" placeholder="40404040" required>
        </div>
        <div>
          <label for="signupDOB">Date of birth</label>
          <input id="signupDOB" type="date" name="date of birth" required>
        </div>
        <div>
          <label for="signupPassword">Password</label>
          <input type="password" id="signupPassword" name="password" minlength="8"
            pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&#])[A-Za-z\d@$!%*?&#]{9,}"
            title="Password must be at least 8 characters and have at least one lowercase and uppercase letter, one number, and one special character."
            required>
        </div>
        <div>
          <label for="signupRepeatPassword">Repeat Password</label>
          <input type="password" id="signupRepeatPassword" name="repeatPassword" minlength="8"
            pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&#])[A-Za-z\d@$!%*?&#]{9,}"
            title="Password must be at least 8 characters and have at least one lowercase and uppercase letter, one number, and one special character."
            required>
        </div>
        <button type="submit">Signup</button>
      </form>
    </section>
  </main>

  <footer>

    <section class="socials">
        <img src="../assets/img/logo.svg" alt="E-Borrows logo"/>
        <div>
            <img src="../assets/img/instagram.svg" alt="instagram">
            <img src="../assets/img/facebook.svg" alt="facebook">
            <img src="../assets/img/linkedin.svg" alt="linkedin">
        </div>
    </section>

    <section class="contact">
        <header>
            <h5>Contact</h5>
        </header>
        <a href="mailto:eborrow@mail.com">eborrow@mail.com</a>
        <a href="tel:+4530303030">+4530303030</a>
        <p>Jensens Vej 43, København K</p>
    </section>

    <section class="content">
        <header>
            <h5>Content</h5>
        </header>
        <p>Texts generated by <a href="https://chatgpt.com/" title="ChatGPT" target="_blank">ChatGPT</a></p>
        <p>Images generated by <a href="https://figma.com/" title="Figma" target="_blank">Figma</a></p>
        <p>Books loaded from <a href="https://github.com/arturomorarioja/py_library_api_v2.git" title="Py library v2" target="_blank">Py library v2</a></p>
    </section>

    <p class="copyright">&copy; 2024 - This is a school project</p>

</footer>

</body>
<dialog id="passwordError">
  <header>
    <h2>Heads up!</h2>
    <button class="close">&times;</button>
  </header>
  <p>Passwords must match</p>
</dialog>

</html>